body, html{
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
}
#video-player {
    width: 100%;
    height: 100%;
}
button {
    z-index: 999;
    position: absolute;
    bottom: 20px;
    left: 20px;
}